<h2>Auftragszusammenfassung:</h2>
<div id="job_details">
  <table>
    <tr><td>Fahrername:</td><td><span id="drivername"></span></td></tr>
    <tr><td>Startpunkt:</td><td><span id="from"></span></td></tr>
    <tr><td>Endpunkt:</td><td><span id="to"></span></td></tr>
    <tr><td>Kostenstelle:</td><td><span id="cost-center"></span></td></tr>
    <tr><td>Fahrzeugmarke:</td><td><span id="car_brand"></span></td></tr>
    <tr><td>Fahrzeugtype:</td><td><span id="car_type"></span></td></tr>
    <tr><td>Kennzeichen:</td><td><span id="registration_number"></span></td></tr>
    <tr><td>Abholdatum:</td><td><span id="scheduled_collection_date"></span></td></tr>
    <tr><td>Lieferdatum:</td><td><span id="scheduled_delivery_date"></span></td></tr>
  </table>
</div>
<div id="shuttle-co-drivers">
  <table id="shuttle-summary">
    <thead>
      <th>Mitfahrer</th>
      <th>Auftragsnummer</th>
      <th></th>
    </thead>
    <tbody>
      <% @shuttles.each do |shuttle_job| %>
        <tr><td><%= shuttle_job[0] %></td><td><%= shuttle_job[1] %></td><td class="remove">
        <%= link_to( fa_icon( "minus", text: "entfernen" ), job_remove_co_driver_path( id: @job.id, co_job_id: shuttle_job[ 1 ] ), remote: true )
 %></td></tr>
      <% end %>
    </tbody>
  </table>
</div>
<div id="breakpoints">
  <%= form_for(@job) do |f| %>

    <% unless @job.breakpoints.empty? %>
      <h3>Zwischenstopps</h3>
      <ol data-role="activerecord_sortable">
        <%= f.fields_for :breakpoints do |ff| %>
          <!-- both data-* attributes required -->
          <li class="ui-state-default ui-sortable-handle" data-role="breakpoint<%= ff.object.to_s %>" data-position="<%= ff.object.position %>">
            <%= ff.object.address.address_short %>

            <!-- to pass position into controller's code -->
            <%= ff.hidden_field :position, :data => { :role => 'position' } %>
          </li>
        <% end %>
      </ol>
    <% end %>

  <% end %>
</div>