<h1>Listing jobs</h1>

<table>
  <thead>
    <tr>
      <th>Driver ids</th>
      <th>Cost center</th>
      <th>Finished</th>
      <th>Created by</th>
      <th>Route</th>
      <th>From</th>
      <th>To</th>
      <th>Shuttle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.driver_ids %></td>
        <td><%= job.cost_center_id %></td>
        <td><%= job.finished %></td>
        <td><%= job.created_by_id %></td>
        <td><%= job.route_id %></td>
        <td><%= job.from_id %></td>
        <td><%= job.to_id %></td>
        <td><%= job.shuttle %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @jobs, renderer: FoundationPagination::Rails %>
<br>

<%= link_to 'New Job', new_job_path %>
