<h1>Alle Aufträge</h1>
<%= form_tag 'jobs_ajax/show_all', method: 'get' do %>
  <div class="custom-row">
    <div class="medium-2 column">
      <div class="row">
        <div class="small-9 column">Offene anzeigen</div><div class="small-3 column"><%= check_box_tag "show_open", "show_open", true %></div>
      </div>
      <div class="row">
        <div class="small-9 column">Geschlossene anzeigen</div><div class="small-3 column"><%= check_box_tag "show_finished", "show_finished", false %></div>
      </div>
      <div class="row">
        <div class="small-9 column">Verrechnete anzeigen</div><div class="small-3 column"><%= check_box_tag "show_charged", "show_charged", false %></div>
      </div>
    </div>
    <div class="medium-5 column">
      <%= label_tag "start_from_date", "Von" %><br>
      <%= text_field_tag :start_from_date %>
    </div>
    <div class="medium-5 column">
      <%= label_tag "end_at_date", "Bis" %><br>
      <%= text_field_tag :end_at_date %>
    </div>
  </div>
<% end %>
<table id="show_jobs" class="display">
  <thead>
    <tr>
      <th>Auftragnummer</th>
      <th>Fahrer</th>
      <th>Kennzeichen</th>
      <th>Datum Abfahrt</th>
      <th>Datum Ankunft</th>
      <th>Von</th>
      <th>Nach</th>
      <th>In Shuttle</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
