<h1>Neuen Shuttle Auftrag anlegen</h1>
<div class="small-12 column">
  <%= form_for @job, url: job_create_shuttle_path do |f| %>
  <%= hidden_field_tag 'main_job_id',  @job.id %>
  <br>
  <div class="row">
    <div class="field large-6 columns">
      <h3><%= f.label :shuttle_car, "Eigenes Shuttle Fahrzeug" %></h3><br>
      <%= select_tag :shuttle_car, options_from_collection_for_select(@shuttle_cars, "id", "registration_number" )%>
    </div>
  </div>
  <div class="row">
    <div class="field large-6 columns">
      <h3><%= f.label "Abholung" %></h3><br>
      <%= f.text_field :scheduled_collection_time %>
    </div>
    <div class="field large-6 columns">
      <h3><%= f.label "Lieferung" %></h3><br>
      <%= f.text_field :scheduled_delivery_time %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Shuttle erstellen" %>
  </div>
  <% end %>
</div>
<h1>Auftrag in Shuttle umwandeln</h1>
<div class="small-12 column">
  <div id="shuttle_jobs_outer_wrapper">
    <table id="shuttle_jobs" class="display" data-source="<%= jobs_url(format: "json") %>">
      <thead>
        <tr>
          <th class="dont_show">id</th>
          <th><%= t("jobs.add") %></th>
          <th>Auftragnummer</th>
          <th>Name</th>
          <th>Von</th>
          <th>Nach</th>
          <th>Erstellungsdatum</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
