<div class="small-12 columns"><h1>Auftrag <%= @job.id %></h1></div>
<% if @job.has_shuttle? %>
  <div class="small-12 columns"><h3><%= t("jobs.connected_shuttle_job") %> <%= link_to @job.shuttle_job.id, job_path(@job.shuttle_job) %></h3></div>
<% end %>
<div id="custom-row">
  <div class="large-6 columns">
    <p>
      <strong>Fahrer:</strong>
      <%= @job.driver.fullname unless @job.driver.nil? %>
    </p>

    <p>
      <strong>Kostenstelle:</strong>
      <%= @job.cost_center_id %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @job.get_status %>
    </p>

    <p>
      <strong>Erstellt von:</strong>
      <%= @job.created_by.first_name.to_s + " " + @job.created_by.last_name.to_s unless @job.created_by.nil? %>
    </p>

    <p>
      <strong>Von:</strong>
      <%= @job.from.complete_address %>
    </p>

    <p>
      <strong>Nach:</strong>
      <%= @job.to.complete_address %>
    </p>
    <p>
      <strong>Geplanter Abholtermin:</strong>
      <%=l @job.scheduled_collection_time unless @job.scheduled_collection_time.nil?%>
    </p>
    <p>
      <strong>Geplanter Liefertermin:</strong>
      <%=l @job.scheduled_delivery_time unless @job.scheduled_delivery_time.nil? %>
    </p>
    <p>
      <strong><%= t("jobs.actual_collection_time") %>:</strong>
      <%=l @job.actual_collection_time unless @job.actual_collection_time.nil? %>
    </p>
    <p>
      <strong><%= t("jobs.actual_delivery_time") %>:</strong>
      <%=l @job.actual_delivery_time unless @job.actual_delivery_time.nil? %>
    </p>
  </div>
  <div class="large-6 columns">
    <p>
      <strong>Farhzeugmarke:</strong>
      <%= @job.car_brand %>
    </p>

    <p>
      <strong>Fahrzeugtype:</strong>
      <%= @job.car_type %>
    </p>

    <p>
      <strong>Kennzeichen:</strong>
      <%= @job.registration_number %>
    </p>

    <p>
      <strong>Fahrgestellnummer:</strong>
      <%= @job.chassis_number %>
    </p>

    <p>
      <strong>Kilometerstand Abholung:</strong>
      <%= @job.mileage_collection %>
    </p>

    <p>
      <strong>Kilometerstand Lieferung:</strong>
      <%= @job.mileage_delivery %>
    </p>
    <p>
      <strong>Notiz:</strong>
      <%= @job.job_notice %>
    </p>
    <p>
      <strong>Transport Notiz:</strong>
      <%= @job.transport_notice %>
    </p>
    <p>
      <strong>Transport Notiz Extern:</strong>
      <%= @job.transport_notice_extern %>
    </p>
  </div>

  <% if @job.is_shuttle? %>
    <div class="small-12 columns"><h2>Details zum Schuttelauftrag</h2></div>
    <table>
      <thead>
        <th>Name</th>
        <th>ID</th>
        <th>Von</th>
        <th>Nach</th>
        <th>Datum Abholung</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <% @job.co_jobs.each do |co_job| %>
          <tr>
            <td><%= co_job.driver.fullname unless co_job.driver.nil? %></td>
            <td><%= co_job.id %></td>
            <td><%= co_job.from.address_short %></td>
            <td><%= co_job.to.address_short %></td>
            <td><%= l co_job.scheduled_collection_time.to_date unless co_job.scheduled_collection_time.nil? %></td>
            <td><%= link_to "zeigen", job_path( co_job ) %></td>
            <td><%= link_to "editieren", edit_job_path( co_job ) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <div class="small-12 column">
    <% if @job.is_open? %>
      <%= link_to 'Editieren', edit_job_path(@job) %> |
    <% end %>
    <%= link_to "An Hauptdrucker senden", job_set_to_print_path(@job) %>|
    <%= link_to "Druckfile herunterladen", print_job_path(format: "xls") %>|
    <%= link_to I18n.translate("back"), jobs_path %>
    <% if @job.is_open? %>|
      <%= link_to I18n.translate("delete"), @job, method: :delete, data: { confirm: I18n.translate("jobs.really_delete") } %>
    <% end %>
  </div>
</div>