<div class="small-12 columns">
  <h1>Auftrag <%= @job.id %></h1>
</div>
<div id="custom-row">
  <div class="large-6 columns">
    <% unless @job.is_shuttle? %>
      <p>
        <strong>Fahrer:</strong>
        <%= @job.driver.fullname_id unless @job.driver.nil? %>
      </p>
    <% end %>
    <% if @job.has_co_drivers? %>
      <% @job.co_drivers.each_with_index do |co_driver, i| %>
        <p>
          <strong><%= i + 2 %>. Fahrer:</strong>
          <%= co_driver.fullname_id %>
        </p>
      <% end %>
    <% end %>
    <p>
      <strong>Kostenstelle:</strong>
      <%= @job.cost_center_id %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @job.get_status %>
    </p>

    <p>
      <strong>Erstellt von:</strong>
      <%= @job.created_by.first_name.to_s + " " + @job.created_by.last_name.to_s unless @job.created_by.nil? %>
    </p>

    <p>
      <strong>Von:</strong>
      <%= @job.from.complete_address if @job.from.is_a? Address %>
    </p>

    <p>
      <strong>Nach:</strong>
      <%= @job.to.complete_address if @job.to.is_a? Address%>
    </p>
    <p>
      <strong>Geplanter Abholtermin:</strong>
      <%=l @job.scheduled_collection_time unless @job.scheduled_collection_time.nil?%>
    </p>
    <p>
      <strong>Geplanter Liefertermin:</strong>
      <%=l @job.scheduled_delivery_time unless @job.scheduled_delivery_time.nil? %>
    </p>
    <p>
      <strong><%= t("jobs.actual_collection_time") %>:</strong>
      <%=l @job.actual_collection_time unless @job.actual_collection_time.nil? %>
    </p>
    <p>
      <strong><%= t("jobs.actual_delivery_time") %>:</strong>
      <%=l @job.actual_delivery_time unless @job.actual_delivery_time.nil? %>
    </p>
  </div>
  <div class="large-6 columns">
    <p>
      <strong>Farhzeugmarke:</strong>
      <%= @job.car_brand %>
    </p>

    <p>
      <strong>Fahrzeugtype:</strong>
      <%= @job.car_type %>
    </p>

    <p>
      <strong>Kennzeichen:</strong>
      <%= @job.registration_number %>
    </p>

    <p>
      <strong>Fahrgestellnummer:</strong>
      <%= @job.chassis_number %>
    </p>

    <p>
      <strong>Kilometerstand Abholung:</strong>
      <%= @job.mileage_collection %>
    </p>

    <p>
      <strong>Kilometerstand Lieferung:</strong>
      <%= @job.mileage_delivery %>
    </p>
    <% unless @job.shuttle? %>
      <p>
        <strong>Startzeit Auslandsaufenthalt:</strong>
        <%= @job.abroad_time_start.to_s(:time) unless @job.abroad_time_start.nil?%>
      </p>
      <p>
        <strong>Endzeit Auslandsaufenthalt:</strong>
        <%= @job.abroad_time_end.to_s(:time) unless @job.abroad_time_end.nil? %>
      </p>
    <% end %>
    <p>
      <strong>Dauer Auslandsaufenthalt:</strong>
      <%= @job.get_abroad_time.round(2).to_s + " Stunden" %>
    </p>
    <p>
      <strong>Notiz:</strong>
      <%= @job.job_notice %>
    </p>
    <p class="break-all">
      <strong>Transport Notiz:</strong>
      <%= @job.transport_notice %>
    </p>
    <p>
      <strong>Transport Notiz Extern:</strong>
      <%= @job.transport_notice_extern %>
    </p>
  </div>

  <% if @job.is_shuttle? %>
    <div class="small-12 columns">
      <h2>Shuttledaten</h2>
      <div class="small-12 medium-6 columns">
      <h2>Fahrer</h2>
      <table>
        <thead>
          <th>ID</th>
          <th>Name</th>
          <th>Teilstrecken</th>
          <th>Auslandszeit</th>
        </thead>
        <tbody>
          <% @job.passengers.map(&:driver).each do |driver| %>
            <tr>
              <td><%= driver.id.to_s %></td>
              <td><%= driver.fullname %></td>
              <td><%= @job.driver_legs(driver).join(", ") %></td>
              <td><%= @job.get_abroad_time(driver) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      <div class="small-12 medium-6 columns">
        <h2>Teilstrecken</h2>
        <table>
          <thead>
            <th>Nr.</th>
            <th>Strecke</th>
            <th>Distanz</th>
            <th>Anzahl</th>
            <th>Fahrer</th>
            <th>Auslandszeit</th>
          </thead>
          <tbody>
            <% stops = @job.stops %>
            <% @job.legs.each_with_index do |leg, i| %>
              <tr>
                <td><%= i + 1 %></td>
                <% from_address = Address.where(id:stops[i].address_id).first %>
                <% to_address = Address.where(id:stops[i+1].address_id).first %>
                <% from_show_address = from_address.nil? ? "" : from_address.show_address.to_s %>
                <% to_show_address = to_address.nil? ? "" : to_address.show_address.to_s %>
                <td><%= from_show_address + " - " + to_show_address %></td>
                <td><%= leg.distance %></td>
                <td><%= leg.driver_ids.length %></td>
                <td><%= leg.driver_ids.join(', ') %></td>
                <td><%= AbroadTime.calc(leg.abroad_time_start, leg.abroad_time_end) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
  <div class="small-12 column">
    <% if @job.is_open? %>
      <%= link_to 'Editieren', edit_job_path(@job) %> |
    <% end %>
    <%= link_to "An Hauptdrucker senden", job_set_to_print_path(@job) %>|
    <%= link_to "Druckfile herunterladen", print_job_path(format: "xls") %>|
    <%= link_to I18n.translate("back"), jobs_path %>
    <% if @job.is_open? %>|
      <%= link_to I18n.translate("delete"), @job, method: :delete, data: { confirm: I18n.translate("jobs.really_delete") } %>
    <% end %>
  </div>
</div>
