<p id="notice"><%= notice %></p>

<p>
  <strong>Fahrer:</strong>
  <%= @job.driver.fullname %>
</p>

<p>
  <strong>Kostenstelle:</strong>
  <%= @job.cost_center_id %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @job.finished %>
</p>

<p>
  <strong>Erstellt von:</strong>
  <%= @job.created_by.first_name + " " + @job.created_by.last_name unless @job.created_by.nil? %>
</p>

<p>
  <strong>From:</strong>
  <%= @job.from.address_short %>
</p>

<p>
  <strong>To:</strong>
  <%= @job.to.address_short %>
</p>

<p>
  <strong>Shuttle:</strong>
  <%= @job.is_shuttle? ? "Ja" : "Nein" %>
</p>



<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
