<%= form_for(@breakpoint) do |f| %>
  <% if @breakpoint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@breakpoint.errors.count, "error") %> prohibited this breakpoint from being saved:</h2>

      <ul>
      <% @breakpoint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :job_id %><br>
    <%= f.number_field :job_id %>
  </div>
  <div class="field">
    <%= f.label :distance %><br>
    <%= f.number_field :distance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
