<div class="small-12 columns">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>Vorname:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Familienname:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>E-Mail:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Firma:</strong>
    <%= @user.company.name unless @user.company.nil? %>
  </p>


  <%= link_to 'Editieren', edit_user_path(@user) %> |
  <%= link_to 'Zurück', users_path %>
</div>