  <%= @bill.drivers.each do |driver| %>
    <Worksheet ss:Name="<%= driver.fullname + "(" + driver.id.to_s + ")" %>">
      <Table x:FullColumns="1" x:FullRows="1" ss:DefaultColumnWidth="60" ss:DefaultRowHeight="15">
      <Column ss:Index="2" ss:AutoFitWidth="0" ss:Width="76.5"/>
     <Column ss:AutoFitWidth="0" ss:Width="70"/>
     <Column ss:AutoFitWidth="0" ss:Width="150"/>
     <Column ss:AutoFitWidth="0" ss:Width="150"/>
     <Column ss:Index="8" ss:AutoFitWidth="0" ss:Width="120"/>
     <Column ss:AutoFitWidth="0" ss:Width="111"/>
     <Column ss:Index="10" ss:AutoFitWidth="0" ss:Width="150"/>
     <Column ss:Index="11" ss:AutoFitWidth="0" ss:Width="150"/>
        <Row ss:Height="20" >
            <Cell ss:StyleID="heading"><Data ss:Type="String">Abrechnung <%= @bill.print_date %> <%= I18n.t( :for ) %> <%= driver.fullname %></Data></Cell>
        </Row>
        <Row/>
        <Row>
          <Cell ss:StyleID="borderlinksobenuntendick"><Data ss:Type="String">ID</Data></Cell>
          <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String">ABHOLUNG</Data></Cell>
          <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String">LIEFERUNG</Data></Cell>
          <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String">NACH</Data></Cell>
          <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String">VON</Data></Cell>
          <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String">KZ</Data></Cell>
          <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String">Plan Km</Data></Cell>
          <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String"><%= I18n.translate( "jobs.actual_distance" )%></Data></Cell>
          <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String"></Data></Cell>
          <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String">Verrechungsart</Data></Cell>
          <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String">Shuttlefahrt</Data></Cell>
          <Cell ss:StyleID="borderrechtsobenuntendick"><Data ss:Type="String">EUR</Data></Cell>
        </Row>
      <% @bill.get_main_drives( driver ).each do |job| %>
        <Row ss:Height="47">
          <Cell ss:StyleID="<%= job.has_shuttle? ? "borderlinksoben" : "borderlinksobenunten"%>"><Data ss:Type="Number"><%= job.id %></Data></Cell>
          <Cell ss:StyleID="<%= job.has_shuttle? ? "borderoben" : "borderobenunten" %>"><Data ss:Type="String"><%=l job.actual_collection_time unless job.actual_collection_time.nil? %></Data></Cell>
          <Cell ss:StyleID="<%= job.has_shuttle? ? "borderoben" : "borderobenunten" %>"><Data ss:Type="String"><%=l job.actual_delivery_time unless job.actual_delivery_time.nil? %></Data></Cell>
          <Cell ss:StyleID="<%= job.has_shuttle? ? "borderoben" : "borderobenunten" %>"><Data ss:Type="String"><%= job.to.complete_address %></Data></Cell>
          <Cell ss:StyleID="<%= job.has_shuttle? ? "borderoben" : "borderobenunten" %>"><Data ss:Type="String"><%=raw job.from.complete_address %></Data></Cell>
          <Cell ss:StyleID="<%= job.has_shuttle? ? "borderoben" : "borderobenunten" %>"><Data ss:Type="String"><%= job.registration_number %></Data></Cell>
          <Cell ss:StyleID="<%= job.has_shuttle? ? "borderoben" : "borderobenunten" %>"><Data ss:Type="Number"><%= job.route.distance %></Data></Cell>
          <Cell ss:StyleID="<%= job.has_shuttle? ? "borderoben" : "borderobenunten" %>"><Data ss:Type="Number"><%= job.distance %></Data></Cell>
          <Cell ss:StyleID="<%= job.has_shuttle? ? "borderoben" : "borderobenunten" %>"><Data ss:Type="Number"><%= %></Data></Cell>
          <Cell ss:StyleID="<%= job.has_shuttle? ? "borderoben" : "borderobenunten" %>"><Data ss:Type="String"><%= job.route.get_calculation_basis %></Data></Cell>
          <Cell ss:StyleID="<%= job.has_shuttle? ? "borderoben" : "borderobenunten" %>"><Data ss:Type="String"><%= job.shuttle? ? "Ja" : "" %></Data></Cell>
          <Cell ss:StyleID="<%= job.has_shuttle? ? "preisnotend" : "preis" %>"><Data ss:Type="Number"><%= @bill.job_price( job, driver ).to_s %></Data></Cell>
        </Row>
        <% if job.has_shuttle? %>
          <Row><Cell ss:Index="12" ss:StyleID="borderrechts"/></Row>
          <Row><Cell ss:StyleID="borderlinks"/><Cell/><Cell/><Cell/><Cell/><Cell/><Cell/><Cell><Data ss:Type="String"><%= I18n.translate( "jobs.connected_shuttle_job" ) %>: <%= job.shuttle_job.id %></Data></Cell><Cell/><Cell/><Cell/><Cell ss:StyleID="borderrechts"/></Row>
          <Row>
            <Cell ss:StyleID="borderlinks"/>
            <Cell/>
            <Cell/>
            <Cell/>
            <Cell/>
            <Cell/>
            <Cell/>
            <Cell ss:StyleID="borderlinksobenunten"><Data ss:Type="String">Nach</Data></Cell>
            <Cell ss:StyleID="borderobenunten"><Data ss:Type="String">Von</Data></Cell>
            <Cell ss:StyleID="borderobenunten"><Data ss:Type="String">Distanz</Data></Cell>
            <Cell ss:StyleID="borderobenunten"><Data ss:Type="String">Personen im Wagen</Data></Cell>
            <Cell ss:StyleID="borderrechtsobenunten"><Data ss:Type="String">EUR</Data></Cell>
          </Row>
          <%= job.shuttle_job.price_driver_shuttle( job, true ).each do |breakpoint| %>
            <Row>
              <Cell ss:StyleID="borderlinks"/>
              <Cell/>
              <Cell/>
              <Cell/>
              <Cell/>
              <Cell/>
              <Cell/>
              <Cell><Data ss:Type="String"><%= breakpoint[0] %></Data></Cell>
              <Cell><Data ss:Type="String"><%= breakpoint[1] %></Data></Cell>
              <Cell><Data ss:Type="Number"><%= breakpoint[2] unless breakpoint[2] == "" %></Data></Cell>
              <Cell><Data ss:Type="Number"><%= breakpoint[3] unless breakpoint[3] == "" %></Data></Cell>
              <Cell ss:StyleID="shuttlezwischenpreis"><Data ss:Type="Number"><%= breakpoint[4] %></Data></Cell>
            </Row>
          <% end %>
          <Row>
            <Cell ss:StyleID="borderlinksunten"/>
            <Cell ss:StyleID="borderunten"/>
            <Cell ss:StyleID="borderunten"/>
            <Cell ss:StyleID="borderunten"/>
            <Cell ss:StyleID="borderunten"/>
            <Cell ss:StyleID="borderunten"/>
            <Cell ss:StyleID="borderunten"/>
            <Cell ss:StyleID="borderunten"/>
            <Cell ss:StyleID="borderunten"/>
            <Cell ss:StyleID="borderunten"><Data ss:Type="String">Gesamtpreis Fahrt</Data></Cell>
            <Cell ss:StyleID="borderunten"/>
            <Cell ss:StyleID="shuttlepreis"><Data ss:Type="Number"><%= job.shuttle_job.price_driver_shuttle( job ) + job.price_driver %></Data></Cell>
          </Row>
        <% end %>
      <% end %>
       <Row/>
       <Row>
        <Cell/>
        <Cell/>
        <Cell/>
        <Cell/>
        <Cell/>
        <Cell/>
        <Cell/>
        <Cell/>
        <Cell/>
        <Cell/>
        <Cell><Data ss:Type="String">Gesamtpreis</Data></Cell>
        <Cell ss:StyleID="final_price"><Data ss:Type="Number"><%= @bill.driver_total( driver ).to_s %></Data></Cell>
       </Row>
      </Table>
    </Worksheet>
  <% end %>