<div class= "small-12 column">
  <table id="jobs-in-bill-table" class="display">
    <thead>
      <tr>
        <th>Auftragnummer</th>
        <th>Name</th>
        <th>Von</th>
        <th>Nach</th>
        <th>Datum Abholung</th>
        <th>Datum Lieferung</th>
        <th>Km in Route</th>
        <th>Tatsächliche Km</th>
        <th>Abweichung</th>
        <th>Shuttleauftrag</th>
        <th class="no-sort" ></th>
        <% if @bill.is_current? %>
          <th class="no-sort" ></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @bill.jobs.each do |job| %>
        <tr>
          <td><%= job.id %></td>
          <td><%= job.driver.fullname %></td>
          <td><%= job.from.address_short %></td>
          <td><%= job.to.address_short %></td>
          <td><%= l job.actual_collection_time.to_date unless job.actual_collection_time.nil? %></td>
          <td><%= l job.actual_delivery_time.to_date unless job.actual_collection_time.nil? %></td>
          <td><%= job.route.is_flat_rate? ? "Pauschale" : job.route.distance %></td>
          <td><%= job.distance %></td>
          <td><%= ( job.distance - job.route.distance ).abs %></td>
          <td><%= job.is_shuttle? ? "Ja" : "Nein" %></td>
          <td><%= link_to "anzeigen", job%>
          <% if @bill.is_current? %>
            <td><%= link_to "Aus Rechnung entfernen" , remove_job_from_current_bill_path(job), method: :post %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>