<div class= "small-12 column">
  <table id="jobs_in_bill" class="display">
    <thead>
      <tr>
        <th>Auftragnummer</th>
        <th>Name</th>
        <th>Von</th>
        <th>Nach</th>
        <th>Datum Abholung</th>
        <th>Datum Lieferung</th>
        <th>Shuttleauftrag</th>
        <% if @bill.is_current? %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @bill.jobs.each do |job| %>
        <tr>
          <td><%= job.id %></td>
          <td><%= job.driver.fullname %></td>
          <td><%= job.from.address_short %></td>
          <td><%= job.to.address_short %></td>
          <td><%= l job.actual_collection_date unless job.actual_collection_date.nil? %></td>
          <td><%= l job.actual_delivery_date unless job.actual_collection_date.nil? %></td>
          <td><%= job.is_shuttle? ? "Ja" : "Nein" %></td>
          <% if @bill.is_current? %>
            <td><%= link_to "Aus Rechnung entfernen" , remove_job_from_current_bill_path(job), method: :post %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>