  <Worksheet ss:Name="Sixt Abrechnung">
    <Table x:FullColumns="1" x:FullRows="1" ss:DefaultColumnWidth="60" ss:DefaultRowHeight="15">
    <Column ss:Index="2" ss:AutoFitWidth="0" ss:Width="76.5"/>
    <Column ss:AutoFitWidth="0" ss:Width="70"/>
    <Column ss:AutoFitWidth="0" ss:Width="150"/>
    <Column ss:AutoFitWidth="0" ss:Width="150"/>
    <Column ss:Index="8" ss:AutoFitWidth="0" ss:Width="120"/>
    <Column ss:AutoFitWidth="0" ss:Width="111"/>
    <Column ss:Index="10" ss:AutoFitWidth="0" ss:Width="150"/>
    <Column ss:Index="11" ss:AutoFitWidth="0" ss:Width="150"/>
    <Column ss:Index="14" ss:AutoFitWidth="0" ss:Width="200"/>
    <Column ss:Index="15" ss:AutoFitWidth="0" ss:Width="200"/>
      <Row ss:Height="20">
          <Cell ss:StyleID="heading"><Data ss:Type="String">Abrechnung <%= @bill.print_date %></Data></Cell>
      </Row>
      <Row/>
      <Row>
        <Cell ss:StyleID="borderlinksobenuntendick"><Data ss:Type="String">ID</Data></Cell>
        <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String">ABHOLUNG</Data></Cell>
        <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String">LIEFERUNG</Data></Cell>
        <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String">VON</Data></Cell>
        <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String">NACH</Data></Cell>
        <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String">KZ</Data></Cell>
        <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String">Plan Km</Data></Cell>
        <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String"><%= I18n.translate( "jobs.actual_distance" )%></Data></Cell>
        <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String"></Data></Cell>
        <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String">Verrechungsart</Data></Cell>
        <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String"></Data></Cell>
        <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String">EUR</Data></Cell>
        <Cell ss:StyleID="borderobenuntendick"><Data ss:Type="String">KSt</Data></Cell>
        <Cell ss:StyleID="borderrechtsobenuntendick"><Data ss:Type="String">Bemerkung</Data></Cell>
      </Row>
        <% @bill.jobs.where( shuttle: false ).each do |job| %>
            <Row ss:Height="47">
                <Cell><Data ss:Type="Number"><%= job.id %></Data></Cell>
                <Cell ss:StyleID="wrap"><Data ss:Type="String"><%=l job.actual_collection_time unless job.actual_collection_time.nil? %></Data></Cell>
                <Cell ss:StyleID="wrap"><Data ss:Type="String"><%=l job.actual_delivery_time unless job.actual_delivery_time.nil? %></Data></Cell>
                <Cell ss:StyleID="wrap"><Data ss:Type="String"><%= job.from.complete_address %></Data></Cell>
                <Cell ss:StyleID="wrap"><Data ss:Type="String"><%= job.to.complete_address %></Data></Cell>
                <Cell><Data ss:Type="String"><%= job.registration_number %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= job.route.distance %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= job.distance %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= %></Data></Cell>
                <Cell><Data ss:Type="String"><%= job.route.get_calculation_basis %></Data></Cell>
                <Cell><Data ss:Type="String"></Data></Cell>
                <Cell ss:StyleID="price"><Data ss:Type="Number"><%= job.price_sixt.to_s %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= job.cost_center_id %></Data></Cell>
                <Cell ss:StyleID="wrap"><Data ss:Type="String"></Data></Cell>
            </Row>
        <% end %>
        <% @bill.jobs.where( shuttle: true ).each do |job| %>
            <Row ss:Height="47">
                <Cell><Data ss:Type="Number"><%= job.id %></Data></Cell>
                <Cell ss:StyleID="wrap"><Data ss:Type="String"><%=l job.actual_collection_time unless job.actual_collection_time.nil? %></Data></Cell>
                <Cell ss:StyleID="wrap"><Data ss:Type="String"><%=l job.actual_delivery_time unless job.actual_delivery_time.nil? %></Data></Cell>
                <Cell ss:StyleID="wrap"><Data ss:Type="String"><%= job.from.complete_address %></Data></Cell>
                <Cell ss:StyleID="wrap"><Data ss:Type="String"><%= job.to.complete_address %></Data></Cell>
                <Cell><Data ss:Type="String"><%= job.registration_number %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= job.route.distance unless job.route.nil? %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= job.distance %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= %></Data></Cell>
                <Cell><Data ss:Type="String"><%= "Per Kilometer" %></Data></Cell>
                <Cell><Data ss:Type="String"></Data></Cell>
                <Cell ss:StyleID="price"><Data ss:Type="Number"><%= job.price_sixt.to_s %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= job.cost_center_id %></Data></Cell>
                <Cell ss:StyleID="wrap"><Data ss:Type="String"><%= job.transport_notice.to_s %></Data></Cell>
                <Cell ss:StyleID="wrap"><Data ss:Type="String"><%= job.get_route_string.to_s %></Data></Cell>
            </Row>
        <% end %>
       <Row/>
       <Row>
        <Cell/>
        <Cell/>
        <Cell/>
        <Cell/>
        <Cell/>
        <Cell/>
        <Cell/>
        <Cell/>
        <Cell/>
        <Cell/>
        <Cell><Data ss:Type="String">Gesamtpreis</Data></Cell>
        <Cell ss:StyleID="final_price"><Data ss:Type="Number"><%= @bill.sixt_total.to_s %></Data></Cell>
       </Row>
    </Table>
  </Worksheet>