<div class= "small-12 column">
  <h1>Aktuelle Rechnung</h1>
</div>
<div class="small-12 column padded-column">
  <div class="medium-4 column">
    <%= t("bills.jobs_total") %> <%= @bill.jobs.length %>
  </div>
  <div class="medium-4 column">
     <%= t("bills.jobs_normal") %> <%= @bill.jobs.where(shuttle:false).length %>
  </div>
  <div class="medium-4 column">
    davon Shuttles: <%= @bill.jobs.where(shuttle:true).length %>
  </div>
</div>

<%= render "jobs_in_bill" %>
<div class= "small-12 column">
  <div class= "small-12 medium-3 column">
    <%= button_to "Aktuelle Rechnung entfernen", delete_current_bill_path, data: { confirm: t("bills.reset_to_open") } %>
  </div>
  <div class= "small-12 medium-3 column">
    <%= button_to t( "jobs.bill_open" ), add_jobs_to_bill_path %>
  </div>
  <div class= "small-12 medium-3 column">
    <%= button_to "Rechnung abschließen", pay_bill_path(@bill) %>
  </div>
  <div class= "small-12 medium-3 column">
  </div>
</div>