<div class="small-12 column">
  <h1>Bereits erstellte Rechnungen</h1>
</div>

<table>
  <thead>
    <tr>
      <th>Verrechnet am</th>
      <th>Angedrucktes Datum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.billed_at.strftime("%d.%m.%Y")  %></td>
        <td><%= bill.print_date %></td>
        <td><%= link_to 'Anzeigen', bill %></td>
        <td><%= link_to 'Angedrucktes Datum edieren', edit_bill_path(bill) %></td>
        <td><%= link_to t(:delete), bill, method: :delete, data: { confirm: t("bills.really_delete_current") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>