<div class="small-12 columns">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @company.name %>
  </p>

  <p>
    <strong>Adresse:</strong>
    <%= @company.address %>
  </p>

  <p>
    <strong>Stadt:</strong>
    <%= @company.city %>
  </p>

  <p>
    <strong>PLZ:</strong>
    <%= @company.zip_code %>
  </p>

  <p>
    <strong>Land:</strong>
    <%= @company.country %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= @company.telephone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @company.email %>
  </p>

  <p>
    <strong>Preis pro km:</strong>
    <%= @company.price_per_km %>
  </p>

  <p>
    <strong>Preis Pauschale:</strong>
    <%= @company.price_flat_rate %>
  </p>


  <%= link_to 'Editieren', edit_company_path(@company) %> |
  <%= link_to t(:back), companies_path %>
</div>