<h1>Alle Shuttle Fahrzeuge</h1>

<table>
  <thead>
    <tr>
      <th>Fahrzeugmarke</th>
      <th>Fahrzeugtype</th>
      <th>Kennzeichen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shuttle_cars.each do |shuttle_car| %>
      <tr>
        <td><%= shuttle_car.car_brand %></td>
        <td><%= shuttle_car.car_type %></td>
        <td><%= shuttle_car.registration_number %></td>
        <td><%= link_to 'Anzeigen', shuttle_car %></td>
        <td><%= link_to 'Editieren', edit_shuttle_car_path(shuttle_car) %></td>
        <td><%= link_to 'Löschen', shuttle_car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neues Shuttle Fahrzeug', new_shuttle_car_path %>
