<div class="small-12 columns">
<h1>Alle Adressen</h1>

<table id="addresses-table" >
  <thead>
    <tr>
      <th>Erstellt von</th>
      <th>Land</th>
      <th>Stadt</th>
      <th>PLZ</th>
      <th>Adressse</th>
      <th>Anzeigename</th>
      <th>Deaktiviert</th>
      <th class="no-sort" colspan="1"></th>
      <th class="no-sort" colspan="1"></th>
      <th class="no-sort" colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= User.find_by_id(address.created_by).username unless address.created_by.nil? || User.find_by_id(address.created_by).nil? %></td>
        <td><%= address.country %></td>
        <td><%= address.city %></td>
        <td><%= address.zip_code %></td>
        <td><%= address.address %></td>
        <td><%= address.show_address %></td>
        <td><%= address.inactive? ? "Ja" : "Nein" %></td>
        <td><%= link_to 'Anzeigen', address %></td>
        <td><%= link_to 'Editieren', edit_address_path(address) %></td>
        <td><%= link_to "Deaktivieren", address, method: :delete, data: { confirm: 'Sind sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Neue Adresse anlegen', new_address_path %>
</div>