<p id="notice"><%= notice %></p>

<p>
  <strong>Erstellt von:</strong>
  <%= @address.created_by %>
</p>

<p>
  <strong>Land:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>Stadt:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>PLZ:</strong>
  <%= @address.zip_code %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @address.address %>
</p>

<p>
  <strong>Adresse kurz:</strong>
  <%= @address.address_short %>
</p>

<p>
  <strong>inaktiv:</strong>
  <%= @address.inactive %>
</p>

<%= link_to 'Editieren', edit_address_path(@address) %> |
<%= link_to t( :back ), addresses_path %>
