<p id="notice"><%= notice %></p>

<p>
  <strong>Created by:</strong>
  <%= @address.created_by %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @address.zip_code %>
</p>

<p>
  <strong>Address:</strong>
  <%= @address.address %>
</p>

<p>
  <strong>Address short:</strong>
  <%= @address.address_short %>
</p>

<p>
  <strong>Inactive:</strong>
  <%= @address.inactive %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
