<h1>Stundenaufstellung für <%= @date_string %> von <%= @driver.fullname_id %></h1>
<div class="small-12 medium-8 large-6 columns">
  <table>
    <thead>
      <tr>
        <td>Tag</td>
        <td>Datum</td>
        <td>Start erste Fahrt</td>
        <td>Ende letzte Fahrt</td>
        <td>Minusstunden</td>
        <td>Einfache Überstunden</td>
        <td>Ü 50</td>
        <td>Ü 100</td>
        <td>Berechnung</td>
      </tr>
    </thead>
    <tbody>
      <% grouped_jobs = @jobs.group_by(&:group_date) %>
      <% (@jobs.first.actual_collection_time.at_beginning_of_month.to_date..@jobs.first.actual_collection_time.end_of_month.to_date).each do |day| %>

        <% #job_day = DateTime.strptime( date + " 12:00", "%Y-%m-%d %H:%M") %>
        <% job_group = grouped_jobs[day.to_s] %>
        <% daily_overtime = Overtime.daily_overtime( day, job_group, @driver ).first %>

        <tr class=<%= (daily_overtime[:error] == true)? "overtime_error" : "" %>>
          <td>
            <%= I18n.t(:"date.day_names")[ day.wday ] %>
          </td>
          <td>
            <%= day.strftime("%d.%m.%Y")  %>
          </td>
          <td>
            <%= sort_jobs(job_group).first.actual_collection_time.strftime("%H:%M") unless job_group.nil? %>
          </td>
          <td>
            <%= sort_jobs(job_group).last.actual_delivery_time.strftime("%H:%M") unless job_group.nil?  %>
          </td>
          <td>
            <%= daily_overtime["minus"].round(2) %>
          </td>
          <td>
            <%= daily_overtime["one"].round(2) %>
          </td>
          <td>
            <%= daily_overtime["one_and_half"].round(2) %>
          </td>
          <td>
            <%= daily_overtime["two"].round(2) %>
          </td>
          <td>
            <% identifier = "drop" + day.to_s.tr('-', '') %>
            <a data-dropdown=<%= identifier %> aria-controls=<%= identifier %> aria-expanded="false">Berechnung</a>
            <ul id=<%= identifier %> class="f-dropdown medium" data-dropdown-content aria-hidden="true" tabindex="-1">
            <% unless @calculations[day.to_s].nil? %>
              <% @calculations[day.to_s].each do |line|%>
                <li><%=line%></li>
              <% end %>
            <% else %>
              <li>Keine Fahrten gefunden</li>
            <% end %>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="small-12 medium-4 large-6 columns">
  <table>
    <tbody>
      <tr>
        <td>
          1-fache:
        </td>
        <td>
          <%= @overtime["one"].round(2) %>
        </td>
      </tr>
      <tr>
        <td>
          1,5-fache:
        </td>
        <td>
          <%= @overtime["one_and_half"].round(2) %>
        </td>
      </tr>
      <tr>
        <td>
          2-fache:
        </td>
        <td>
          <%= @overtime["two"].round(2) %>
        </td>
      </tr>
      <tr>
        <td>
          Minusstunden:
        </td>
        <td>
          <%= @overtime["minus"].round(2) %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="small-12 columns" id="missing-days">
  <h2>Für folgende Arbeitstage wurde kein Eintrag gefunden:</h2>
  <ul>
    <% @missing_days.each do |day| %>
      <li>
      <%= day.strftime("%d.%m.%Y") %>
      </li>
    <% end %>
  </ul>
</div>


