<%= form_for(@route) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3>Startpunkte</h3><br>
      Startpunkte hier filtern <input id="from_filter" type="text">
      <%= f.select :from_id, @addresses.collect {|a| [ "#{a.address_short}, #{a.address} #{a.zip_code} #{a.city} #{a.country}", a.id ] }%>
  </div>
  <div class="field">
    <h3>Endpunkt</h3><br>
    Endpunkte hier filtern <input id="to_filter" type="text">
    <%= f.select :to_id, @addresses.collect {|a| [ "#{a.address_short}, #{a.address} #{a.zip_code} #{a.city} #{a.country}", a.id ] }%>
  </div>
  <div class="field">
    <%= f.label :calculation_basis %><br>
    <%= f.select :calculation_basis, @calculation_bases.collect {|a| [ a[1], a[0] ] }%>
  </div>
  <div class="field">
    <%= f.label :distance %><br>
    <%= f.text_field :distance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
