<table id="routes-table">
  <thead>
    <tr>
      <th>Von</th>
      <th>Nach</th>
      <th>Kalkulationsbasis</th>
      <th>Distanz</th>
      <th>Status</th>
      <th class="no-sort" ></th>
      <th class="no-sort" ></th>
      <th class="no-sort" ></th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= route.from.complete_address + " | " + route.from.address_short unless route.from.nil?%></td>
        <td><%= route.to.complete_address + " | " + route.to.address_short unless route.to.nil?%></td>
        <td><%= route.get_calculation_basis %></td>
        <td><%= route.distance %></td>
        <td><%= route.get_status %></td>
        <td><%= link_to 'Zeigen', route %></td>
        <td><%= link_to 'Editieren', edit_route_path(route) %></td>
        <td><%= link_to I18n.translate(:delete), route, method: :delete, data: { confirm: 'Route löschen?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>