</p>
<p>
  <strong>Von:</strong>
  <%= @route.from.complete_address %>
</p>

<p>
  <strong>Nach:</strong>
  <%= @route.to.complete_address %>
</p>

<p>
  <strong>Kalkulationsbasis:</strong>
  <%= @route.get_calculation_basis %>
</p>

<p>
  <strong>Distanz:</strong>
  <%= @route.distance %>
</p>

<p>
  <strong>Status:</strong>
  <%= @route.get_status %>
</p>

<%= link_to 'Editieren', edit_route_path(@route) %> |
<%= link_to t(:back), routes_path %>
