<%= form_for(@driver) do |f| %>
  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% @driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :Vorname %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :Nachname %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <% entry_date = @driver.entry_date.strftime("%d.%m.%Y") unless  @driver.entry_date.nil? %>
    <%= f.label :Eintrittsdatum %><br>
    <%= f.text_field :entry_date, value: entry_date %>
  </div>
  <div class="field">
    <% exit_date = @driver.exit_date.strftime("%d.%m.%Y") unless  @driver.exit_date.nil? %>
    <%= f.label :Austrittsdatum %><br>
    <%= f.text_field :exit_date, value: exit_date %>
  </div>
  <div class="field">
    <% date_of_birth = @driver.date_of_birth.strftime("%d.%m.%Y") unless  @driver.date_of_birth.nil? %>
    <%= f.label :Geburtsdatum %><br>
    <%= f.text_field :date_of_birth, value: date_of_birth %>
  </div>
  <div class="field">
    <%= f.label :place_of_birth, "Staatsbürgerschaft" %><br>
    <%= f.text_field :place_of_birth %>
  </div>
  <div class="field">
    <%= f.label :Adresse %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :Stadt %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :zip_code, "PLZ" %><br>
    <%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :Telefon %><br>
    <%= f.text_field :telepone %>
  </div>
  <div class="field">
    <%= f.label "Telefon 2" %><br>
    <%= f.text_field :telephone2 %>
  </div>
  <div class="field">
    <%= f.label :licence_number, t("drivers.licence_number") %><br>
    <%= f.text_field :licence_number %>
  </div>
  <div class="field">
    <%= f.label :issuing_authority, t("drivers.issuing_authority") %><br>
    <%= f.text_field :issuing_authority %>
  </div>
  <div class="field">
    <%= f.label  t("drivers.driving_licence_category") %><br>
    <%= f.text_field :driving_licence_category %>
  </div>
  <div class="field">
    <%= f.label :Kommentar %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :Sozialversicherungsnummer %><br>
    <%= f.text_field :social_security_number %>
  </div>
  <div class="field">
    <%= f.label :iban, "IBAN" %><br>
    <%= f.text_field :iban %>
  </div>
  <div class="field">
    <%= f.label :bic, "BIC" %><br>
    <%= f.text_field :bic %>
  </div>
      <div class="large-8 small-12 columns">

  <div class="large-12 columns">
    <div class="large-4 small-12 columns">
      <%= f.label t("drivers.licence_copy") %><br>
      <%= f.check_box :driving_licence_copy %>
    </div>
    <div class="large-4 small-12 columns">
      <%= f.label :Meldezettel %><br>
      <%= f.check_box :registration_copy %>
    </div>
    <div class="large-4 small-12 columns">
      <%= f.label :Werkvertrag %><br>
      <%= f.check_box :service_contract %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Fahrer abspeichern'%>
  </div>
<% end %>
