<%= form_for(@driver) do |f| %>
  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% @driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit 'Fahrer abspeichern'%>
  </div>
  <div class="field">
    <%= f.label :Vorname %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :Nachname %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :Eintrittsdatum %><br>
    <%= f.text_field :entry_date %>
  </div>
  <div class="field">
    <%= f.label :Austrittsdatum %><br>
    <%= f.text_field :exit_date %>
  </div>
  <div class="field">
    <%= f.label :Geburtsdatum %><br>
    <%= f.text_field :date_of_birth %>
  </div>
  <div class="field">
    <%= f.label :Geburtsort %><br>
    <%= f.text_field :place_of_birth %>
  </div>
  <div class="field">
    <%= f.label :Adresse %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :Stadt %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :PLZ %><br>
    <%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :Telefon %><br>
    <%= f.text_field :telepone %>
  </div>
  <div class="field">
    <%= f.label "Telefon 2" %><br>
    <%= f.text_field :telephone2 %>
  </div>
  <div class="field">
    <%= f.label :Führerscheinnummer %><br>
    <%= f.text_field :licence_number %>
  </div>
  <div class="field">
    <%= f.label "Ausstellende Behörde" %><br>
    <%= f.text_field :issuing_authority %>
  </div>
  <div class="field">
    <%= f.label "Führerscheinkatgorien" %><br>
    <%= f.text_field :driving_licence_category %>
  </div>
  <div class="field">
    <%= f.label :Kommentar %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :Sozialversicherungsnummer %><br>
    <%= f.text_field :social_security_number %>
  </div>
  <div class=".large-12.columns row   ">
    <div class="field large-3.columns">
      <%= f.label :Führerscheinkopie %><br>
      <%= f.check_box :driving_licence_copy %>
    </div>
    <div class="field large-3.columns">
      <%= f.label :Meldezettel %><br>
      <%= f.check_box :registration_copy %>
    </div>
    <div class="field large-3.columns">
      <%= f.label :Werkvertrag %><br>
      <%= f.check_box :service_contract %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Fahrer abspeichern'%>
  </div>
<% end %>
