<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @driver.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @driver.last_name %>
</p>

<p>
  <strong>Entry date:</strong>
  <%= @driver.entry_date %>
</p>

<p>
  <strong>Exit date:</strong>
  <%= @driver.exit_date %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @driver.date_of_birth %>
</p>

<p>
  <strong>Place of birth:</strong>
  <%= @driver.place_of_birth %>
</p>

<p>
  <strong>Address:</strong>
  <%= @driver.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @driver.city %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @driver.zip_code %>
</p>

<p>
  <strong>Telepone:</strong>
  <%= @driver.telepone %>
</p>

<p>
  <strong>Telephone2:</strong>
  <%= @driver.telephone2 %>
</p>

<p>
  <strong>Licence number:</strong>
  <%= @driver.licence_number %>
</p>

<p>
  <strong>Issuing authority:</strong>
  <%= @driver.issuing_authority %>
</p>

<p>
  <strong>Driving licence category:</strong>
  <%= @driver.driving_licence_category %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @driver.comment %>
</p>

<p>
  <strong>Social security number:</strong>
  <%= @driver.social_security_number %>
</p>

<p>
  <strong>Driving licence copy:</strong>
  <%= @driver.driving_licence_copy %>
</p>

<p>
  <strong>Registration copy:</strong>
  <%= @driver.registration_copy %>
</p>

<p>
  <strong>Service contract:</strong>
  <%= @driver.service_contract %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
