<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "MT Transfair" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
    <div class="sticky">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Trans-Fair</a></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="left">
            <li><%= link_to 'Auftrag erfassen', new_job_path %></li>
            <li><%= link_to 'Alle Aufträge', jobs_path %></li>
            <li class="has-dropdown">
              <a href="#">Fahrer</a>
              <ul class="dropdown">
                <li><%= link_to 'Fahrer anzeigen', drivers_path %></li>
                <li><%= link_to 'Fahrer hinzufügen', new_driver_path %></li>
              </ul>
            </li>
            <li class="has-dropdown">
              <a href="#">Routen</a>
              <ul class="dropdown">
                <li><a href="#">Neue Routen</a></li>
                <li><%= link_to 'Alle Routen', routes_path %></li>
              </ul>
            </li>
            <li class="has-dropdown">
              <a href="#">Adressen</a>
              <ul class="dropdown">
                <li><%= link_to 'Adressen', addresses_path %></li>
                <li><%= link_to 'Adresse hinzufügen', new_address_path %></li>
              </ul>
            </li>            


          </ul>
        </section>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="has-dropdown">
              <a href="#">Administration</a>
              <ul class="dropdown">
                <li><%= link_to 'Firmen anzeigen', companies_path %></li>
                <li class="has-dropdown"><a href="#">Benutzer</a>
                  <ul class="dropdown">
                    <li><%= link_to 'Benutzer anzeigen', users_path %></li>
                    <li><%= link_to 'Neuer Benutzer', new_user_invitation_path %></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="name">
              <h1><%= link_to 'Abmelden', destroy_user_session_path, :method=>'delete' %></h1>
            </li>

          </ul>
        </section>
      </nav>
    </div>
    <% end %>
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div data-alert class="alert-box round <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
          <%= content_tag :div, msg %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
<%= javascript_tag do %>
  jQuery.fn.filterByText = function(textbox, selectSingleMatch) {
    return this.each(function() {
      var select = this;
      var options = [];
      $(select).find('option').each(function() {
        options.push({value: $(this).val(), text: $(this).text()});
      });
      $(select).data('options', options);
      $(textbox).bind('change keyup', function() {
        var options = $(select).empty().scrollTop(0).data('options');
        var search = $.trim($(this).val());
        var regex = new RegExp(search,'gi');

        $.each(options, function(i) {
          var option = options[i];
          if(option.text.match(regex) !== null) {
            $(select).append(
               $('<option>').text(option.text).val(option.value)
            );
          }
        });
        if (selectSingleMatch === true && 
            $(select).children().length === 1) {
          $(select).children().get(0).selected = true;
        }
      });
    });
  };
<% end %>
  <script> $(document).foundation();</script>

  </body>
</html>
